body{
    background: #f4f4f4;
}

.headerCon{
    background-color: #E3E4E5;
}
.search,.content-t,.content-m{
    width: 1190px;
    margin: 0 auto;
}
.searchWrap{
    background: #FFF;
    border-bottom: 2px #F10214 solid;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: -52px;
    /* left: 0; */
    z-index: 999;
}
.search{
    position: relative;
}
.search>div{
    float: left;
}
.search .search-logo{
    display: block;
    width: 125px;
    height: 40px;
    background: url(../img/sprite.png) 0 -120px;
    
}
.search-form{
    position: absolute;
    left: 260px;
    top: 4px;
    width: 550px;
    height: 36px;
    border: 2px #F10214 solid;
    padding: 2px 44px 2px 17px;
    overflow: hidden;
    box-sizing: border-box;
}
.search-form>input{
    width: 425px;
    height: 26px;
}
.search-form .icon-tubiaozhizuo-{
    font-size: 17px;
    color: #bcbcbc;
    position: absolute;
    right: 75px;
    top: 7px;
}
.search-form button{
    width: 60px;
    background: #F10214;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
}
.search-form .icon-sousuo{
    color: #fff;
    position: absolute;
    top: 8px;
    left: 25px;
}
.cart{
    width: 130px;
    height: 34px;
    border: 1px solid #e3e4e5;
    position: absolute;
    right: 230px;
    top: 4px;
    line-height: 34px;
    text-align: center;
}
.cart:hover{
    border-color: #F10214;
}
.cart>.icon-gouwuche{
    color: #F10214;
    margin-right: 10px;
}
.cart>a{
    color: #F10214;
}
/* content */
.contentTopW{
    background: #fff;
    height: 140px;
    border-bottom: 1px solid #ddd;
}
.content-t{
    position: relative;
    height: 140px;
}
.top-logo{
    display: inline-block;
}
.content-t .top-logo>div{
    height: 120px;
    width: 134px;
    background-image: url(../img/sprite.png);
    text-align: center;
    overflow: hidden;
    background-color: #fff;
}
.top-logo>div>p{
    display: none;
}
.top-logo>div>p:first-child{
    margin-top: 36px;
    color: rgb(155, 120, 83);
    font-size: 16px;
    font-weight: 700;
}
.top-logo>div>p:last-child{
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background: rgb(255, 145, 125);
    margin: 10px auto;
    color: #fff;
}
.content-t .search-form{
    top: 25px;
}
.content-t .cart{
    top: 25px;
}
.search-m{
    position: absolute;
    top: 21px;
    height: 90px;
    width: 700px;
}
.ul-s{
    position: absolute;
    top: 65px;
    left: 260px;
}
.ul-s>li{
    float: left;
    margin-right: 10px;
}
.ul-b>li.bold>a{
    font-weight: 700;
    color: #F10214;
}
.ul-s>li>a{
    color: #999;
}
.ul-b{
    position: absolute;
    bottom: 0;
    left: 203px;
}
.ul-b>li{
    float: left;
    margin-right: 23px;
    height: 40px;
    line-height: 40px;
}
.ul-b>li>a{
    font-size: 15px;
}

/* content-m */
.content-m{
    margin-top: 10px;
}
.navWrap{
    position: relative;
}
.pro-nav{
    padding: 10px 0; 
    background-color: #fff;
    position: relative;  
}
.pro-nav>li{
    width: 190px;
    
}
.pro-nav>li>div:hover{
    background-color: #d9d9d9;
}
.pro-nav>li>div:first-child{
    padding-left: 18px ;
    line-height: 25px;
    font-size: 14px;
}
.pro-nav a{
    color: #333;
}

.secondProNav{
    background-color: #fff;
    position: absolute;
    left: 191px;
    top: 0px;
    width: 1000px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    z-index: 10;
    display: none;
}
.second-l{
    width: 800px;
}
.second-l>div>p{
    float: left;
}
.second-l>div>div{
    float: left;
}
.second-l>div>div{
    width: 680px;
}
.sec-tit>a{
    display: inline-block;
    padding: 0 10px;
    line-height: 24px;
    background: #333;
    color: #fff;
    margin-right: 10px;
}

.second-l span{
    font-size: 9px;
    margin-left: 5px;
}
.second-l>div{
    margin-top: 10px;
}

.second-l>div>p{
    width: 73px;
    text-align: right;
}
.second-l>div a{
    color: #333;
    font-weight: 700;
}
.second-l>div>div a{
    color: #999;
    font-weight: normal;
    margin-left: 15px;
    line-height: 21px;
}
.second-l>div>div a:hover{
    color: #F10214;
}
.second-r{
    width: 168px;
}
.second-r img{
    float: left;
    margin: 0 1px 1px 0;
}
.second-r>div:last-child{
    margin-top: 10px;
}
#banner-l,#banner-r{
    margin-left: 10px;
}
.swiper-container {
    width: 590px;
    height: 470px;
    
    float: left;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination{
    text-align: left;
    padding-left: 30px;
}
:root{
    --swiper-navigation-size: 16px;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
.swiper-slide{
    flex-direction: column; 
    background: transparent;
}


#banner-r{
    width: 190px;
    height: 470px;
   
}
#banner-r img{
    width: 190px;
    height: 150px;  
}
#banner-r img:not(.last){
    margin-bottom: 10px;
}
.mine-part{
    width: 190px;
    height: 470px;
    margin-left: 10px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px 0px;
}
.account{
    margin: 0 20px;
    border-bottom: #eee 1px solid;
}
.account>div>img{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.account>div:nth-of-type(1)>div{
    margin-left: 12px;
    float: right;
    line-height: 19px;
    font-size: 11px;
}
.account div>p:first-child{
    color: #777; 
}
.account a{
    color: #333;
}
.account button{
    margin-top: 12px;
    width: 70px;
    height: 26px;
    border-radius: 13px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 9px;
}
.account button:first-child{
    background-color: #e1251b;
    color: #fff;
}
.account button:last-child{
    background-color: #363634;
    color: #dbce8b;
    margin-left: 5px;
}
.account button:hover{
    background-color: #c81623;
    color: #fff;
}
.jdNews{
    margin: 0 20px;
    padding: 10px 0;
    border-bottom: #eee 1px solid;
}
.jdNews>div:first-child{
    line-height: 20px;
}
.jdNews h4{
    color: #333;
    font-weight: 700;
}
.jdNews>div i{
    margin-left: 60px;
    color: #999;
}
.jdNews .icon-iconfonticonfonti2copycopy{
    color: #999;
    margin-left: 3p5x;
    font-size: 10px;
}
.jdNews>div:nth-of-type(2){
    margin-top: 8px;
}
.jdNews ul li{
    margin-top: 6px;
    line-height: 16px;
    margin-top: 6px;
}
.jdNews ul li>span{
    display: inline-block;
    height: 16px;
    background: #fdeeed;
    color: #e1251b;
    width: 35px;
    text-align: center;
    vertical-align: middle;
}
.jdNews ul a{
    margin-left: 5px;
    color: #999;
    display: inline-block;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    font-size: 12px;
    vertical-align: middle;
}
.appMenu{
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}
.appMenu li{
    float: left;
    width: 60px;
    height: 55px;
    text-align: center;
}
.appMenu ul i{
    display: block;
    height: 28px;
    width: 28px;
    position: relative;
    margin: 0 auto;
}
.appMenu ul i>img{
    width: 28px;
    width: 28px;
}
.appMenu ul i>img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.appMenu ul span{
    line-height: 22px;
    font-size: 12px;
    color: #666;
}
.appMenu ul li:hover span,.appMenu ul li.hover span{
    color: #F10214;
}
.appMenu ul li:hover img:last-child,.appMenu ul li.hover img:last-child{
    display: block;
}
.app-t{
    padding: 0 15px;
    position: absolute;
    background: #fff;
    height: 225px;
    /* top: 0;
    left: 0; */
}
.app-t>div>a{
    color: #666;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    border-bottom: 2px solid transparent;
}
.app-t>div>a:nth-of-type(2){
    margin: 0 38px; 
}
.app-t>div>a:hover,.app-t>div>a.hover{
    color: #F10214;
    border-color: #F10214;
}
.plane-con,.hotel-con{
    display: none;
}
.app-con>p:nth-of-type(1){
    margin-top: 15px;
    line-height: 1;
}
.app-con>p>a:nth-of-type(1){
    color: #F10214;
 }
.app-con>p>a:nth-of-type(2){
   margin: 0 5pxpx;
   font-size: 12px;
}
.app-con>div:nth-of-type(1){
    margin-top: 10px;
}
.app-con>div:nth-of-type(2),.app-con>div:nth-of-type(3){
    margin-top: 5px;
}
.app-con>div>input,.app-con>div>select{
    border: 1px #cecece solid;
    width: 124px;
    height: 20px;
    margin-left: 5px;
}
.app-con>p:nth-of-type(2){
    margin-top: 5px;
    color: #F10214;
}
.app-con>p:nth-of-type(3){
    margin-top: 5px;
}
.app-con>p:last-child>a{
    color: #5476DB;
}
.app-con button{
    margin-top: 5px;
    background: #F10214;
    color: #fff;
    height: 20px;
    line-height: 20px;
    width: 60px;
    border-radius: 10px;
}
.app-t>a{
    position: absolute;
    left: 90px;
    bottom: 12px;
    font-size: 20px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    text-align: center;
    line-height: 20px;
    transition: all .2s ease;
    color: #999;
}
.app-t>a:hover{
    background: #DE2319;
    color: #eee;
}

.hotel-con div label{
    width: 48px;
    display: inline-block;
}
.hotel-con div input{
    width: 100px;
    height: 18px;
}
/* 京东秒杀 */
.ms{
    margin-top: 30px;
    background-color: #fff;
    height: 260px;
    
}
.ms-l{
    height: 260px;
    background: url(../img/ms-bj.png);
    width: 190px;
}
.ms-l>h3{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 40px;
    line-height: 1;
}
.timeNumW{
    margin-top: 102px;
    color: #fff;  
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
}
#time-num{
    font-size: 16px;
    font-weight: 700;
}
.ms-l>div:last-child{
    margin-top: 12px;
    color: #fff;
    text-align: center;
}
.ms-l>div:last-child>span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #2f3430;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: 900;
}
#ms-banner1{
    width: 800px;
    height: 260px;
}
#ms-banner1>div>.swiper-slide{
    border-right: #f4f4f4 1px solid;
    box-sizing: border-box;
}
#ms-banner1>div>.swiper-slide h6{
    margin-top: 13px;
    width: 160px;
    margin: 13px auto 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: 666;
}
#ms-banner1>div>.swiper-slide h6:hover{
    color: #F10214;
}
#ms-banner1>div>.swiper-slide p{
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    height: 22px;
    border: 1px solid #F10214;
}
#ms-banner1>div>.swiper-slide p>span{
    display: inline-block;
    width: 86px;
    height: 22px;
    
}
#ms-banner1>div>.swiper-slide p>span:nth-of-type(1){
    font-size: 16px;
    font-weight: 700;
    background: #F10214;
    color: #fff;
}
#ms-banner2{
    width: 180px;
    height: 260px;
    margin: 0 10px;
}
#ms-banner2 .swiper-slide img{
    margin-bottom: 20px;
    width: 115px;
}
#ms-banner2 .swiper-slide div>p:first-child{
    font-size: 14px;
    color: #666;
}
#ms-banner2 .swiper-slide div>p:nth-of-type(2){
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
#ms-banner2 .swiper-slide>div{
    width: 100%;
    height: 90px;
    background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
}
#ms-banner2 .swiper-slide>div>div{
    font-size: 12px;
    color: #F10214;
    border: 1px solid #F10214;
    width: 80px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    text-align: center;
    margin: 10px auto 0;
    cursor: pointer;
    transition: all .2s ease;
    font-weight: 700;
}
#ms-banner2 .icon-iconfonticonfonti2copycopy{
    font-size: 8px;
}
#ms-banner2 .swiper-slide>div>div:hover{
    background: #F10214;
    color: #fff;
}
/* 特色优选 */
.tj{
    height: 340px;
    margin-top: 20px;
}
.tj>div{
    padding: 0 15px 15px;
    width: 590px;
    box-sizing: border-box;
}
.box{
    background-color: #fff;
}
.box-r{
    margin-left: 10px;
}
.tj-tit{
    padding: 0 20px;
    height: 60px;
}
.tj-tit>h3{
    margin-top: 12px;
    font-size: 23px;
    color: #333;
    font-weight: 900;
}
.tj-tit>h3>span{
    font-size: 10px;
    margin-left: 10px;
    margin-top: 8px;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #F10214;
    border-radius: 50%;
    text-align: center;
    color: #F10214;
    float: right;
    cursor: pointer;
    transition: all .2s ease;
}
.tj-tit>h3>span:hover{
    color: #fff;
    background: #F10214;
}
.tj-tit>p{
    margin: 18px 0 0 170px;
}
.tj-tit>p>a{
    display: block;
    float: left;
    margin-left: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    border-bottom: 2px transparent solid;
}
.tj-tit>p>a:hover{
    color: #F10214;
    border-color: #F10214;
}
.tj-con{
    /* padding: 15px 15px; */
}
.tj-con>div:first-child{
    text-align: center;
    background-color: #f8f8f9;
    /* width: 170px; */
    padding: 45px 25px 20px;
    box-sizing: border-box;
}
.tj-con>div:first-child>img{
    width: 120px;
    height: 120px;
}
.tj-con>div:first-child>p:nth-of-type(1){
   
    font-size: 14px;
}
.tj-con>div:first-child>p{
    margin-top: 8px;
}
.tj-con>div:first-child>p:nth-of-type(2)>span{
    color: #F10214;
    font-size: 16px;
    font-weight: 700;
}
.tj-con>div:first-child>p:nth-of-type(2)>del{
    color: #999;
    margin-left: 5px;
}
.tj-con>div:first-child>p:nth-of-type(3){
    color: #999;
}
.tj-con>div:first-child>p:nth-of-type(3)>span{
    color: #F10214;
}
.tj-con-r{
    margin-left: 10px;
    width: 355px;
}
.tj-con-r>dl{
    float: left;
    margin: 18px 5px 30px;
}
.tj-con-r>dl img{
    width: 84px;
    height: 84px;
}
.tj-con-r>dl>dd,.tj-con-r>dl>dt{
    float: left;
}
.tj-con-r dd{
    width: 75px;
    margin-left: 5px;
}
.tj-con-r dd>h6{
    font-size: 12px;
    color: 666;
}
.tj-con-r dd>p:nth-of-type(1){
    font-size: 14px;
    color: #F10214;
    font-weight: 700;
}
.tj-con-r dd>del{
    color: #999;
    font-size: 10px;
}
.tj-con-r dd>p:nth-of-type(2){
    color: #999;
}
.tj-con-r dd>p:nth-of-type(2)>span{
    color: #F10214;
}


body a:hover{
    color: #F10214;
}